<!doctype html>
<title>{% block title %}{% endblock %} Image segmentation using Deep Learning for e-commerce products</title>
<link rel="stylesheet" href="{{ url_for('static', filename='rangeslider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.structure.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="{{url_for('.static', filename='jquery.min.js')}}"></script>
<script src="{{url_for('.static', filename='bootstrap.bundle.min.js')}}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery.easing.min.js"></script>
<script src="{{url_for('.static', filename='rangeslider.js')}}"></script>

<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
<!--
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('hello') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('hello') }}">Register</a>
      <li><a href="{{ url_for('hello') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
-->

<nav class="navbar navbar-expand-lg navbar_style fixed-top" id="mainNav">
    <a class="nav-link" href="http://deepakkarkala.com/">Home</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" id="Toggle navigation">
          <i class="fas fa-bars"></i>
        
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">About this project</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://deepakkarkala.com/">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://deepakkarkala.com/#about_me">About me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://deepakkarkala.com/#contact_me">Contact</a>
            </li>
        </ul>
    </div>
</nav>


<header class="masthead">
  <div class="intro-body">
    <!--<div class="container">-->


      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
          <div class="listing_form">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                <h1 class="brand-heading">Image segmentation using Deep Learning for e-commerce products</h1>
              </div>
            </div>

            <!--
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                <p class="intro-text text-center">
                  Enter details of your listing and the Machine Learning Model will suggest the best price based on location, size, amenities, reviews etc.
                </p>
              </div>
            </div>
            -->

            <form action="{{ url_for('hello') }}" id="input_form" method="POST">

              <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                  <div id="toolbar" class="btn-toolbar text-center justify-content-center">
                    <!--
                    <a href="javascript:void(0)" id="all" class="button">All</a>
                    <a href="javascript:void(0)" id="couch" class="button">Couch</a>
                    <a href="javascript:void(0)" id="chair" class="button">Chair</a>
                    <a href="javascript:void(0)" id="bed" class="button">Bed</a>
                    <a href="javascript:void(0)" id="vase" class="button">Vase</a>
                    <a href="javascript:void(0)" id="bowl" class="button">Bowl</a>
                    <a href="javascript:void(0)" id="cup" class="button">Cup</a>
                    <a href="javascript:void(0)" id="wineglass" class="button">Wine glass</a>
                    <a href="javascript:void(0)" id="pottedplant" class="button">Potted plant</a>
                    -->



                    {% if filter_product_category %}

                      {% if filter_product_category == "All" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="All">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="All">
                      {% endif %}

                      {% if filter_product_category == "Bed" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="Bed">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Bed">
                      {% endif %}

                      {% if filter_product_category == "Chair" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="Chair">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Chair">
                      {% endif %}

                      {% if filter_product_category == "Cup" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="Cup">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Cup">
                      {% endif %}

                      {% if filter_product_category == "Vase" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="Vase">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Vase">
                      {% endif %}

                      {% if filter_product_category == "Bowl" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="Bowl">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Bowl">
                      {% endif %}

                      {% if filter_product_category == "Wine-glass" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="Wine-glass">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Wine-glass">
                      {% endif %}

                      {% if filter_product_category == "Potted-plant" %}
                        <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="Potted-plant">
                      {% else %}
                        <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Potted-plant">
                      {% endif %}

                    {% else %}

                      <input type="submit" name="filter_product_button" class="button active" id="filter_product_button" value="All">
                      <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Bed">
                      <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Chair">
                      <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Cup">
                      <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Vase">
                      <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Bowl">
                      <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Wine-glass">
                      <input type="submit" name="filter_product_button" class="button" id="filter_product_button" value="Potted-plant">
                    {% endif %}

                    
                    <!--
                    <button type="button" class="btn btn-primary" name="filter_product_button" id="filter_product_button" value="All">All</button>
                    <button type="button" class="btn btn-primary" name="filter_product_button" id="filter_product_button" value="Bed">Bed</button>
                    <button type="button" class="btn btn-primary" name="filter_product_button" id="filter_product_button" value="Chair">Chair</button>
                    -->

                    <!--
                    <div class="btn-group" name="filter_product_button" id="filter_product_button" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary" value="All">All</button>
                      <button type="button" class="btn btn-secondary" value="Bed">Bed</button>
                      <button type="button" class="btn btn-secondary" value="Chair">Chair</button>
                    </div>
                    -->

                  </div>
                </div>
              </div>



              <div>
                <div class="row">

                  
                  <div class="col-lg-6 col-md-10 col-sm-10 col-10 mx-auto product_showcase_top">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                        <p class="color:black;">Select an image to view segmented product</p>
                      </div>
                    </div>
                    <div class="row product_showcase">
                      {% for image in images %}
                        {% if not filter_product_category or (filter_product_category and image.category == filter_product_category) %}
                          <div class="col-lg-3 col-md-2 col-sm-4 col-4 mx-auto">
                            {% if selected_image %}
                              {% if selected_image.id == image.id %}
                                <input type="radio" name="product_radio" id="product_radio" value="{{image.id}}" checked="checked">
                              {% else %}
                                <input type="radio" name="product_radio" id="product_radio" value="{{image.id}}">
                              {% endif %}
                            {% else %}
                              <input type="radio" name="product_radio" id="product_radio" value="{{image.id}}">
                            {% endif %}
                            <img class="img_product" src="{{url_for('static', filename='images/' + image.image_path)}}">
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>

  
                  <div class="col-lg-4 col-md-10 col-sm-10 col-10 mx-auto">

                    <div class="row show_result">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <p class="color:black;">Your Segmented product will appear here</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-10 col-sm-10 col-10 mx-auto">
                              {% if selected_image %}
                                <img id="seg_product" src="{{url_for('static', filename=product_segmented_image_path )}}" />
                              {% endif %}
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="row video_stream_top_container">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                        <div class="row video_stream_text_container">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center mx-auto slider" id="slider">
                              <p class="video_stream_container_text">Click on the video stream to place and move the product in your room. Use the slider to adjust the size.</p>
                          </div>
                        </div>

                        <div class="row video_stream_slider_container">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-8 text-center mx-auto slider" id="slider">
                            <div id="slider-range-min"></div>
                          </div>
                        </div>

                        <div class="row video_stream_container">
                          <div class="col-lg-10 col-md-10 col-sm-12 col-12 mx-auto">
                            <video autoplay="true" id="videoElement"></video>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>

                </div>
              </div>



            </form>


          </div>
        </div>
      </div>


    <!--</div>-->
  </div>
</header>


<script src="{{url_for('.static', filename='d3.v4.min.js')}}"></script>
<script src="{{url_for('.static', filename='misc.js')}}"></script>
<script src="{{url_for('.static', filename='webcam_stream.js')}}"></script>



<!--
<section class="listing_details" id="listing_details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-10 col-12 mx-auto">
        Test
      </div>
    </div>
  </div>
</section>
-->
